services:
  sftp:
    image: human705/sftp
    container_name: sftp-server-1
    mem_limit: 2g         # Hard limit on memory usage
    memswap_limit: 2g     # Limit RAM + swap usage
    mem_reservation: 1g   # Soft memory reservation
    cpus: 2               # Limit to 2 CPU cores
    restart: unless-stopped
    ports:
      - "${SFTP_PORT}:22"  # Map SFTP port from .env file
    volumes:
      # sudo chown -R 1000:1000 ./uploads
      # - ${SFTP_PATH}:/home/${SFTP_USER}/upload  # Mount local folder
      - ./uploads:/home/${SFTP_USER}/upload  # Mount local folder
    env_file:
      - .env
    # environment:
    #   - PGID=${PGID}
    #   - PUID=${PUID}


    command: ${SFTP_USER}:${SFTP_PASSWORD}:1000:100
    networks:
      - sftp-bridge-network

networks:
  sftp-bridge-network:
    driver: bridge